/* Основные цвета
#212121 текст загаловки
#757575 описание увага до деталей и тд.
+ под именами
#2F303A банер
#2196F3 основной синий на странице  */


/*основная секция*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
}
button {
  cursor: pointer;
}
address {
  font-style: normal;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
} 
:root{
  --primery-text-color: #212121;
  --secodery-text-color:#757575;
  --white-color: #FFFFFF;
  --accent-color:#2196F3 ;
  --background-color: #FFFFFF;
  --background-color-footer:#2f303a;
  --color:#F5F4FA;
  /* портфолио*/
  --color-text-hiden-focus-portfolio:#FFFFFF;
  --buttons-color-portfolio:#F5F4FA;
  --buttons-color-portfolio-hiden-focus:#2196F3 ;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body{
color: var(--primery-text-color);
font-family:'Roboto' , sans-serif;
background-color: var(--background-color);

font-weight: 500;
font-size: 14px;
line-height: 1.4;
letter-spacing: 0.02em;
}
a {
  color: var(--primery-text-color);
  text-decoration: none;
}
ul {
  margin-left: 0px;
    margin-right: 0px;
  list-style: none;
}

.conteiner{
 padding-left: 15px;
 padding-right: 15px;
    margin: 0 auto;
    width: 1200px;
   outline: 2px solid tomato;
}

.section{
  padding-top: 94px;
}

/*хедер секция*/
.link-head{
  padding: 32px 0;
  display: block;
}

.conteiner-header{ 

  display: flex;
  align-items: center;
  outline: 2px solid tomato ;
  margin: 0 auto;
 
  width: 1600px;

 
}

.page-header {
  background-color:var(--white-color);
}
.logo {
  padding-left: 215px;
  padding-right: 93px;

  font-family: 'Raleway';
  font-style: normal;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.logo-span {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  color: #000;
}

.nav-link{
  padding-right: 344px;
  display: block;
  display: flex;
 
font-weight: 500;
font-size: 14px;
line-height: 1.4;
letter-spacing: 0.02em;
}
.nav-link .item{
  display: block;

margin-right: 50px;
}

.nav-link:hover,
.nav-link:focus{
color: var(--accent-color);
}
.link:hover,
.link:focus{
  color: var(--accent-color);
}
.current{
  color: var(--accent-color);
}


.contacts{
 
 
 display: flex;
}
.contacts .item{
  margin-right: 50px;
}
.contact-mail,
.contact-tel {
 
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secodery-text-color);
}
.contact-mail:hover,
.contact-mail:focus,
.contact-tel:hover,
.contact-tel:focus {

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-color);
} 

/* галавная секция*/
.line{
  margin: 0 auto;
  width: 1600px;
height: 0px;
left: 0px;
top: 80px;

border: 1px solid #ECECEC;
}
.hero {
  margin: 0 auto;
  width: 1600px;
  height: 600px;
  text-align: center;
  background-color: #2f303a;
  
}
.hero-button {
  margin: 350,692,200,692;
  width: 216px;
  height: 50px;

  font-family: 'Roboto';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: var(--white-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.hero-button:hover,
.hero-button:focus{
  background: #188CE8;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
}

.hero-lozung {
  padding-top: 200px;
  padding-bottom: 30px;
  padding-left: 452px;
  padding-right: 452px;
  margin-top: 0;
  margin-bottom: 0;
  
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  
  color: var(--white-color);
}
/*-----Внимание к деталям*/

.list-items{
  display: flex;
}
.list-name{
  padding-bottom: 10px;
}
.list-items > .list-info{
  width: 270px;
  flex-basis: calc(100% / 4);
  margin-right: 30px;
}
.list-items .list-name{
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--primery-text-color)
}
.list-items .list-text{
 
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--secodery-text-color)
}
.list-info:last-child{
  padding-right: 0px;
}


/* чем мы занимаемся*/
.main-center {
  background-color: var(--background-color);
}
.main-center-tittle {
  padding-bottom: 50px;
  text-align: center;
font-weight: 700;
font-size: 36px;
line-height: 1.16 ;
color: var(--primery-text-color);
}
.photo-list{
  display: flex;
}
.photo-items{
  padding-bottom: 94px;
 flex-basis:calc(100% / 3) ;
 padding-right: 30px;
}
.photo-items:last-child{
  padding-right: 0px;
}

/* наша команда*/
.our-team {
  background-color: var(--color);
}
.main-center-tittle{
  padding-top: 94px;
}
.box-list{
 display: block;
 display: flex;
 padding-bottom: 94px;
 gap: 30px;


}
.title-box{
 
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
  width: 270px;
  height: 368px;
}


.person-name{
  padding-top: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
}
.position{
  padding-top: 10px;
font-weight: 400;
font-size: 16px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;
color:var(--secodery-text-color)
}

/* подвал*/
.footer {
  background-color: var(--background-color-footer);
}

.link-footer{
  padding-bottom: 20px;
}
.footer-conteiner{
  padding-top: 60px;
  padding-bottom: 60px;
  
}



.logo-futter{
  
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196F3;
  text-decoration: none;
}
.logo-span-two {
  color:var(--white-color);
}
.street {
  color:var(--white-color);
  text-decoration:none;
  font-size: 14px;
  line-height: 1.71
}
.address {
  font-style: normal;
}

.tagup {
    text-decoration: none;
    font-family:"Roboto";
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    }
    .tagup:hover,
    .tagup:focus{
    color: var(--accent-color);
    }



/* --------------страница портфолио-----------------*/
            
.cursor{
  cursor: pointer;
}
.color-text:hover,
.color-text:focus{
  color: #FFFFFF
}
/* Кнопки*/

.butins-box{
  justify-content: centers;
  display: flex;
  margin-top: 94px;
  margin-bottom: 50px;
}
.buttons-list{
 display: flex;
 gap: 8px;
  justify-content: center;
}
.buttons-list .portfilio-btn{

  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
  background: var(--buttons-color-portfolio);
  font-family: 'Roboto';
  min-width: auto;
  
  
  text-align: center;
  border: 1px solid transparent;
 
  font-weight: 500;
  font-size: 16px;
  line-height: 1.16;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  letter-spacing: 0.03em;

  color: var(--primery-text-color);
  border-radius: 4px;
  border: 0cm;
}
.buttons-list .portfilio-btn:hover,
.buttons-list .portfilio-btn:focus {
  background: var(--buttons-color-portfolio-hiden-focus);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: var(--color-text-hiden-focus-portfolio);
}
/*---------------асортимент товаров-------------*/
.archives-list{
  display: flex;
  flex-wrap: wrap;

}

.list-kard{
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
  background: #FFFFFF;
border: 1px solid #EEEEEE;
}
.list-kard:first-child{
  margin-left: 0px;
}
.list-kard:nth-child(4){
  margin-left: 0px;
}
.list-kard:nth-child(7){
  margin-left: 0px;
}

/* заголовок и описание */
.caption-portfolio{
  text-decoration: none;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  padding-bottom: 4px;
  
  letter-spacing: 0.06em;
  color:var(--primery-text-color)
}
.synopsis-portfolio{
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 1.87;

  letter-spacing: 0.03em;
  color: var(--secodery-text-color)
}

.portfolio-items{
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

